# Adding environment variables file
**/.env

# Adding Agents folder
/Agents

# Adding chatnetv2 virtual environment folder
/chatnetv2

# Adding all pycache folders
**/__pycache__

# Adding anima folder
/.anima