* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden; /* Prevent full-page scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-rows: 9% 91%;
    width: 100vw;
    height: 100vh;
}