.grid-container {
    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-rows: 9% 91%;
    width: 100vw;
    height: 100vh;
}

.main-menu {
    grid-row: span 2;
}

.login-bar {
    grid-column: span 2;
}

.chat-pane {
    grid-column: 2;
    grid-row: 2;
}

.net-pane {
    grid-column: 3;
    grid-row: 2;
}
