/* Disable interaction for elements with this class */
.disabled {
    pointer-events: none;
    cursor: default;
}

/* Styles for the login bar at the top of the page */
.login-bar {
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ecf0f1;
    padding-right: 20px;
    border-bottom: 1px solid rgba(96, 93, 93, 0.2);
}

.username-display {
    display: none;
}
/* Common styles for login and logout buttons */
.login-button, .logout-button {
    text-decoration: none;
    background-color: #74b9ff;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Additional styles specific to the logout button */
.logout-button {
    margin-left: 10px;
    display: none;
}

.login-button:hover, .logout-button:hover {
    background-color: #2980b9;
    color: white;
}
