.net-pane {
    background-color: #bdc3c7;
    overflow: auto;
    padding: var(--spacing-large);
}

#tree-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

canvas {
    display: block;
    margin: auto;
}

.node {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: var(--spacing-large);
}

.value {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.children {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: var(--spacing-large);
}

.node::before,
.node::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: 30px;
    background-color: var(--color-primary);
    z-index: 1;
}

.node::before {
    left: 10px;
    transform: rotate(45deg);
    transform-origin: top left;
}

.node::after {
    right: 10px;
    transform-origin: top right;
    transform: rotate(-45deg);
}

.node:only-child::before {
    transform: none;
    height: 30px;
}

.node:only-child::after,
.node:first-child:not(:only-child)::after,
.node:last-child:not(:only-child)::before,
.root::before,
.root::after {
    display: none;
}
