<input type="hidden" name="thread_id" value="{{ thread_id }}">
<input type="hidden" name="query_id" value="{{ query_id|join(', ') }}">
<div id="chat-area">
    {% for conversation_unit in conversation_history %}
        <div class="conversation-unit">
            <div class="query-container">
                <div class="query">
                    <h2 id="query-title">{{ conversation_unit["query"] }}</h2>
                    <div class="query_id" data-value="{{ conversation_unit['query_id'] }}"></div>
                    <div class="parent_query_id" data-value="{% if conversation_unit['parent_query_ids'] is not none %}{{ conversation_unit['parent_query_ids']|string }}{% else %}none{% endif %}"></div>
                </div>
            </div>

            <div class="response-container">
                <div class="response">
                    <div id="response-text" class="markdown-body">{{ conversation_unit["response"] }}</div>
                </div>
                <div class="sources">
                    {% if conversation_unit["search_results"] != [] %}
                        <h5 class="sources-title">Sources</h5>
                    {% endif %}
                    {% for source in conversation_unit["search_results"] %}
                        <a href="#" class="source-item">{{ source }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="user-input-area">
    <textarea id="user-input" placeholder="Type your query here"></textarea>
    <button id="send-button" onclick="sendQuery()">Send</button>
</div>