<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatNet - Signup</title>
    <link rel="stylesheet" href="static/css/credentials-page.css">
</head>
<body>

    <div class="header" id="chatnet-title">ChatNet</div>

    <div class="main">
        <div class="form-container">
            <h2>Sign Up</h2>
            <form>
                <input type="text" placeholder="Username" required>
                <input type="password" placeholder="Password" required>
                <input type="password" placeholder="Confirm Password" required>
                <button type="submit">Sign Up</button>
            </form>
            <p class="switch-link">Already have an account? <a href="login">Login here</a>.</p>
        </div>
    </div>

    <div class="footer"></div>
    <script src="static/js/signup.js"></script>

</body>
</html>
